apiVersion: apps/v1
kind: Deployment
metadata:
  name: audit-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audit
  template:
    metadata:
      labels:
        app: audit
    spec:
      containers:
        - name: audit
          image: audit-service:v1
          command:
            - node
            - dist/index.js
          envFrom:
            - configMapRef:
                name: api-config
          resources:
            requests:
              cpu: "50m"
            limits:
              cpu: "100m"