apiVersion: apps/v1
kind: Deployment
metadata:
  name: redpanda
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redpanda
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
        - name: redpanda
          image: docker.redpanda.com/redpandadata/redpanda:v23.2.15
          args:
            - redpanda
            - start
            - --overprovisioned
            - --smp
            - "1"
            - --mode
            - dev-container
            - --set
            - redpanda.enable_sasl=false
          ports:
            - containerPort: 9092