# 这是 SOPS 加密后的文件格式示例
# 实际加密后，文件会包含类似以下的结构
# 
# 使用以下命令加密：
# sops -e -i k8s/api/secret.enc.yaml
#
# 或使用 KMS key：
# sops --encrypt --kms arn:aws:kms:REGION:ACCOUNT_ID:key/KMS_KEY_ID k8s/api/secret.enc.yaml

apiVersion: v1
kind: Secret
metadata:
    name: api-secret
    creationTimestamp: null
data:
    DATABASE_PASSWORD: ENC[AES256_GCM,data:PLACEHOLDER_ENCRYPTED_DATA,iv:PLACEHOLDER_IV,tag:PLACEHOLDER_TAG,type:str]
sops:
    kms:
        - arn: arn:aws:kms:REGION:ACCOUNT_ID:key/KMS_KEY_ID
          created_at: "2024-01-01T00:00:00Z"
          enc: PLACEHOLDER_KMS_ENCRYPTED_KEY
          aws_profile: ""
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age: []
    lastmodified: "2024-01-01T00:00:00Z"
    mac: PLACEHOLDER_MAC
    pgp: []
    unencrypted_suffix: _unencrypted
    version: 3.8.1

